<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Rocket.Q - Perguntas e respostas</title>

    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Styles -->
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/room.css" />
    <link rel="stylesheet" href="/styles/modal.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="modal-wrapper active">
      <div class="modal">
        <h2>Digite a senha de Admin</h2>
        <form action="/admin" method="POST">
          <label for="password" class="sr-only">Digite a senha de Admin</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Digite a senha de Admin"
          />

          <div class="buttons">
            <button>Ir para página de Admin</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
