* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --black: #0d114f;
  --white: #fafafa;
  --light-blue: #e0ecff;
  --blue: #3685ff;
  --red: #e83f5b;
  --background: #f6faff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  /* ==Grey== */
  --grey-dark: #4d5e77;
  --grey-blue: #a1b2cd;
  --grey-light: #e5eaf1;
  --grey-medium: #eaecf2;
}

body {
  display: flex;
  height: 100vh;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vh);

  font-family: 'Open Sans', sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Inputs and Buttons */
input,
button,
.button {
  height: 5rem;
  border-radius: 0.8rem;
}

.button,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: var(--white);

  transition: color 0.2s;

  cursor: pointer;
}

button:hover,
.button:hover {
  filter: brightness(1.1);
}

button > img,
.button > img {
  margin-right: 1rem;
}

button.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

button.red,
.button.red {
  background: var(--red);
  color: var(--white);
}

button.grey,
.button.grey {
  background: var(--grey-light);
  color: var(--grey-dark);
}

/* Header */
.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header img {
  width: 16.7rem;
}
